{% load static %}
<nav class="hidden lg:block sticky pt-10 text-white uppercase font-[Karla]">
    <ul class="border-2 inline-block text-center">
        <li class="text-xs text-[#1C1C1E] bg-white px-1 py-5 font-extrabold tracking-tighter">
            <img class="max-h-14 mx-auto mb-5" src="{% static 'logo.svg' %}" alt="">
            <p>Michael</p>
            <p>Camerlynck</p>
        </li>
        <ul class="text-xl font-bold">
            <li style="writing-mode: vertical-rl;" class="rotate-180 mx-auto my-10">
                <a href="">Home</a>
            </li>
            <li style="writing-mode: vertical-rl;" class="rotate-180 mx-auto my-10">
                <a href="">About</a>
            </li>
            <li style="writing-mode: vertical-rl;" class="rotate-180 mx-auto my-10">
                <a href="">Projects</a>
            </li>
            <li style="writing-mode: vertical-rl;" class="rotate-180 mx-auto my-10">
                <a href="">Contact</a>
            </li>
        </ul>
    </ul>
</nav>