{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

<div class="lg:min-h-screen">
    <div class="flex flex-row lg:px-32 font-[Oswald] lg:mt-28">
        <div class="lg:basis-auto basis-full relative">
            <img class="" src="{% static 'CVFoto.jpg' %}" alt="">
            <!-- Screen -->
            <div class="absolute bottom-10 right-0 text-left hidden lg:block">
                <p class="lg:text-5xl text-[rgba(0,0,0,0.5)] font-bold">Hi I'm</p>
                <h2
                    class="text-[rgba(0,0,0,0.5)] my-auto font-bold xl:text-[9rem] text-5xl tracking-tighter leading-none">
                    MICHAEL</h2>
            </div>
            <!-- Mobile -->
            <div class="absolute bottom-0 text-center left-1/2 -translate-x-1/2 lg:translate-x-0 lg:hidden">
                <p class="lg:text-5xl text-2xl text-[rgba(0,0,0,0.5)] font-bold">Hi I'm</p>
                <h2
                    class="text-[rgba(0,0,0,0.5)] my-auto font-bold xl:text-[9rem] text-[4.5rem] tracking-tighter leading-none">
                    MICHAEL</h2>
                <h2
                    class="text-[rgba(0,0,0,0.5)] my-auto font-bold xl:text-[9rem] text-[4.5rem] tracking-tighter leading-none lg:hidden">
                    CAMERLYNCK</h2>
            </div>
        </div>
        <div class="lg:basis-2/3 hidden lg:block bg-[#FF8C00] relative">
            <h2
                class="absolute lg:bottom-10 font-bold xl:text-[9rem] tracking-tighter text-[rgba(0,0,0,0.5)] leading-none">
                CAMERLYNCK</h2>
        </div>
    </div>
</div>

<div class="lg:px-32 px-5">
    <div class="lg:flex lg:flex-row lg:mt-0 mt-5">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter lg:mb-44 mb-4">WHO AM I?</div>
        <div class="lg:basis-7/12 text-lg text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quod nemo asperiores!
            Cupiditate nemo quame enim ab esse rem dolorum atque distinctio numquam nihil similique laudantium, officiis
            accusantium dolores sed nesciunt praesentium repellendus laboriosam quibusdam suscipit a. Sed, sunt odio.
        </div>
    </div>

    <div class="lg:flex lg:flex-row lg:mt-0 mt-14">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter lg:mb-44 mb-4">WHAT CAN I DO FOR YOU?</div>
        <div class="lg:basis-7/12 text-lg text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur quod nemo asperiores!
            Cupiditate nemo quame enim ab esse rem dolorum atque distinctio numquam nihil similique laudantium, officiis
            accusantium dolores sed nesciunt praesentium repellendus laboriosam quibusdam suscipit a. Sed, sunt odio.
        </div>
    </div>
</div>

{% endblock %}