{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

<div class="lg:min-h-screen">
    <div class="flex flex-row lg:px-32 font-[Oswald] lg:mt-28">
        <div class="lg:basis-auto basis-full relative">
            <img class="" src="{% static 'CVFoto.jpg' %}" alt="">
            <!-- Screen -->
            <div class="absolute bottom-10 right-0 text-left hidden lg:block">
                <p class="lg:text-5xl text-[rgba(0,0,0,0.5)] font-bold">Hi I'm</p>
                <h2
                    class="text-[rgba(0,0,0,0.5)] my-auto font-bold xl:text-[9rem] text-5xl tracking-tighter leading-none">
                    MICHAEL</h2>
            </div>
            <!-- Mobile -->
            <div class="absolute bottom-0 text-center left-1/2 -translate-x-1/2 lg:translate-x-0 lg:hidden">
                <p class="lg:text-5xl text-2xl text-[rgba(0,0,0,0.5)] font-bold">Hi I'm</p>
                <h2
                    class="text-[rgba(0,0,0,0.5)] my-auto font-bold xl:text-[9rem] text-[4.5rem] tracking-tighter leading-none">
                    MICHAEL</h2>
                <h2
                    class="text-[rgba(0,0,0,0.5)] my-auto font-bold xl:text-[9rem] text-[4.5rem] tracking-tighter leading-none lg:hidden">
                    CAMERLYNCK</h2>
            </div>
        </div>
        <div class="lg:basis-2/3 hidden lg:block bg-[#FF8C00] relative">
            <h2
                class="absolute lg:bottom-10 font-bold xl:text-[9rem] tracking-tighter text-[rgba(0,0,0,0.5)] leading-none">
                CAMERLYNCK</h2>
        </div>
    </div>
</div>

<div class="lg:px-32 px-5">
    <div class="lg:flex lg:flex-row lg:mt-0 mt-5">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter">
            WHO AM I?
        </div>
        <div class="lg:basis-7/12 text-lg text-justify">
            I am a highly motivated and creative individual with a passion for technology and design. I am currently on
            my last semester of studying Applied Computer Science at Thomas More. In my free time, I enjoy listning to
            music, reading and relaxing at a nice and sunny beach. I am known for my ability to thinkoutside the box and
            my perseverance in solving problems.
        </div>
    </div>

    <div class="lg:flex lg:flex-row mt-16">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter">
            WHAT ARE MY SKILLS AND EXPERIENCE?
        </div>
        <div class="lg:basis-7/12 text-lg text-justify">
            <p>I have a strong background in full-stack web development, specifically using Node.js, PHP, ASP.NET and
                Django.
                Additionally, I have specialized in Artificial Intelligence where I have learned about machine learning
                techniques including supervised and unsupervised learning, deep learning algorithms such as
                Convolutional Neural Networks (CNNs) and Recurrent Neural Networks (RNNs), and the practical
                applications of AI in data science. I have also delved into natural language processing and have a
                strong understanding of how to process, analyze and generate human-like language.</p>
            <p class="mt-3">Throughout my education and professional experience, I have also honed my skills in Agile
                methodology and
                have successfully implemented it in a variety of projects. Whether working independently or as part of a
                team, I consistently deliver high-quality results that meet project requirements and exceed
                expectations.</p>
        </div>
    </div>

    <div class="lg:flex lg:flex-row mt-16">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter">
            WHAT PROJECTS HAVE I DONE?
        </div>
        <div class="lg:basis-7/12 text-lg text-justify">
            During my studies, I have been fortunate enough to be involved in several exciting and
            challenging projects throughout my academic career. To showcase my abilities and accomplishments, I have
            carefully selected a few of my proudest projects to display in the <a class="underline"
                href="{% url 'main:projects' %}">Projects</a> section of this website. Here,
            you will find detailed information about each project, including technical specifications, obstacles faced,
            and outcomes achieved. Additionally, I have made the code for some of my public projects available for
            review on my <a href="https://github.com/MichaelCamerlynck" class="underline">GitHub</a> page. By visiting
            this section, you will get a comprehensive understanding of my skills,
            creativity, and problem-solving abilities.
        </div>
    </div>

    <div class="lg:flex lg:flex-row mt-16">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter">
            WHAT CAN I DO FOR YOU?
        </div>
        <div class="lg:basis-7/12 text-lg text-justify">
            I am confident that I can bring my expertise in full-stack development and experience in project management
            to your organization. My skills and experience allow me to quickly understand your needs and deliver
            high-quality solutions that meet your requirements. I am highly adaptable, always willing to expand my
            knowledge and embrace new technologies to best meet the demands of your projects. Furthermore, my strong
            learning capability allows me to quickly grasp new frameworks and techniques, ensuring that I can provide a
            high level of support at all times.
        </div>
    </div>

    <div class="lg:flex lg:flex-row mt-16">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter">
            HOW TO CONTACT ME
        </div>
        <div class="lg:basis-7/12 text-lg text-justify">
            You can find more information on how to get in touch <a class="underline" href="{% url 'main:contactme' %}">here</a>
        </div>
    </div>

    <div class="lg:flex lg:flex-row mt-24 mb-10">
        <div class="lg:basis-5/12 font-[Oswald] font-bold lg:text-5xl text-3xl tracking-tighter">
            <a href="{% static 'CV-MichaelCamerlynck.pdf' %}" download>CV</a>
        </div>
        <div class="lg:basis-7/12 text-lg text-justify">
            <a href="{% static 'CV-MichaelCamerlynck.pdf' %}" download>
                <img src="{% static 'CV-Final-1.png' %}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock %}