{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

<div class="px-5 lg:px-0 lg:pr-32 lg:pl-20 lg:mt-28 mb-12">
    <div id="toast"></div>

    <div class="lg:flex lg:flex-row lg:mb-16 mb-10">
        <div class="basis-8/12">
            <h1 class="lg:text-5xl text-4xl lg:mb-0 mb-4 font-bold font-[Oswald]">GET IN TOUCH</h1>
        </div>
        <div class="basis-4/12 text-right lg:mb-0 mb-5">
            <div class="text-2xl text-left">
                <p class="mb-2">
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:michael@camerlynck.com">michael@camerlynck.com</a>
                </p>
                <p>
                    <i class="fa-brands fa-linkedin"></i>
                    <a target="_blank" href="https://www.linkedin.com/in/michael-camerlynck/">MichaelCamerlynck</a>
                </p>
            </div>
        </div>
    </div>

    <div class="lg:flex lg:flex-row">
        <div class="basis-8/12 lg:mb-0 mb-2">
            For a faster response, you can contact me through the form.
        </div>
        <div class="basis-4/12">
            <form action="">
            <div class="flex flex-col">
                <label for="name" class="text-xl tracking-widest mb-1">NAME</label>
                <input type="text" id="name" placeholder="Name" required
                    class="bg-[#1C1C1E] border-2 border-white focus:border-white">
            </div>
            <div class="flex flex-col mt-8">
                <label for="email" class="text-xl tracking-widest mb-1">E - MAIL</label>
                <input type="email" id="email" placeholder="E - Mail" required
                    class="bg-[#1C1C1E] border-2 border-white focus:border-white">
            </div>

            <div class="flex flex-col mt-8">
                <label for="subject" class="text-xl tracking-widest mb-1">SUBJECT</label>
                <input type="text" id="subject" placeholder="Subject" required
                    class="bg-[#1C1C1E] border-2 border-white focus:border-white">
            </div>

            <div class="flex flex-col mt-8">
                <label for="message" class="text-xl tracking-widest mb-1">MESSAGE</label>
                <textarea id="message" placeholder="Message" required
                    class="bg-[#1C1C1E] border-2 border-white focus:border-white" rows="5"></textarea>
            </div>

            <div class="mt-8 bg-white text-[#1C1C1E] text-center py-2 text-xl font-bold">
                <input id="submit" type="submit" value="SEND" class="tracking-widest">
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("form").submit(function (e) {
        e.preventDefault()

        const data = {
            name: $("#name").val(),
            email: $("#email").val(),
            subject: $("#subject").val(),
            message: $("#message").val(),
        };

        $.ajax({
            type: "GET",
            url: "{% url 'main:send' %}",
            data: data,
            success: function (response) {
                $('form')[0].reset()
                $("#toast").append(`
                    <div class="flex items-center justify-between max-w-md p-4 absolute top-5 right-10 bg-white border rounded-md shadow-sm toast font-[Inconsolata]">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-green-500 mr-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p class="ml-3 text-sm font-bold text-green-600">Message sent! I will get to you shortly.</p>
                        </div>
                        <span class="inline-flex items-center cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-600 close" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                    </div>`
                )
            }
        })
    })

    $("body").on('click', '.toast', function () {
        $(".toast").fadeOut("fast")
    })
</script>

{% endblock %}