{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

<div class="lg:min-h-screen">
    <div class="lg:flex lg:flex-row lg:px-32 lg:mt-36 px-5">
        <div class="basis-2/6">
            <div class="my-auto relative">
                <!-- <img src="{% static project.main_img %}" alt="" class="lg:max-h-[40rem] mx-auto border"> -->
                <img src="{% static main_img.url %}" alt="" class="lg:max-h-[40rem] mx-auto border">
                <h1
                    class="font-[Oswald] font-bold lg:text-[6rem] text-[3.5rem] tracking-tight absolute bottom-0 pl-3 lg:hidden text-[rgba(225,225,225,0.9)]">
                    {{project.name}}
                </h1>
            </div>
        </div>
        <div class="basis-4/6 flex flex-col my-auto lg:pl-14">
            <h1 class="font-[Oswald] font-bold lg:text-[6rem] text-[3.5rem] tracking-tight hidden lg:block">
                {{project.name}}</h1>

            <div class="mb-7 mt-3 text-[1.2rem]">
                <ul class="lg:flex lg:border-y">
                    <li class="lg:border-r lg:px-4 lg:mr-4 py-1">{{project.date}}</li>
                    {% for tech in project.tech_set.all %}
                    <li class="py-1">
                        {{tech.name}}
                    </li>
                    {% if not forloop.last %}
                    <span class="text-[0.5rem] my-auto mx-3 hidden lg:block"><i class="fa-solid fa-circle"></i></span>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div>
                {% for para in summary %}
                <p class="text-xl">{{para}}</p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

<div>
    {% if techical.0 != '-' %}
    <div class="lg:px-44 px-5 lg:mt-0 mt-12">
        <div class="border-t relative lg:mx-20">
            <h2 class="font-bold font-[Oswald] lg:text-[2.6rem] text-2xl absolute lg:-top-5 -top-4 bg-[#1C1C1E] pr-4 tracking-widest">
                TECHNICAL DETAIL</h2>
            
            <div class="lg:py-10 py-6 text-justify text-lg">
                {% for para in techical %}
                <p class="mb-3">
                    {{para}}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="lg:flex lg:justify-around lg:mt-6 lg:mb-16 lg:px-44 px-5">
        {% for img in techical_img %}
        <div class="lg:mb-0 mb-3">
            <img src="{% static img.url %}" alt="" class="lg:max-h-[20rem]">
            <p class="text-sm mt-1">{{img.alt}}</p>
        </div>
        {% endfor %}
    </div>

    {% if roles.0 != '-' %}
    <div class="lg:px-44 px-5 lg:mt-0 mt-12">
        <div class="border-t relative lg:mx-20">
            <h2 class="font-bold font-[Oswald] lg:text-[2.6rem] text-2xl absolute lg:-top-5 -top-4 bg-[#1C1C1E] pr-4 lg:pr-0 lg:pl-4 tracking-widest lg:right-0">
                ROLES & CONTRIBUTION</h2>
                <div class="lg:py-10 py-6 text-justify text-lg">
                    <p class="mb-3">
                        {{roles.0}}
                    </p>

                    <ul class="mb-3 list-disc list-inside">
                        {% for list in roles_list %}
                            <li>{{list}}</li>
                        {% endfor %}
                    </ul>

                    {% for para in roles %}
                    {% if not forloop.first %} 
                    <p class="mb-3">
                        {{para}}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
    {% endif %}

    <div class="lg:flex lg:justify-around lg:mt-6 lg:mb-16 lg:px-44 px-5">
        {% for img in roles_img %}
        <div class="lg:mb-0 mb-3">
            <img src="{% static img.url %}" alt="" class="lg:max-h-[20rem]">
            <p class="text-sm mt-1">{{img.alt}}</p>
        </div>
        {% endfor %}
    </div>

    {% if challenges.0 != '-' %}
    <div class="lg:px-44 px-5 lg:mt-0 mt-12">
        <div class="border-t relative lg:mx-20">
            <h2 class="font-bold font-[Oswald] lg:text-[2.6rem] text-2xl absolute lg:-top-5 -top-4 bg-[#1C1C1E] pr-4 tracking-widest">
                CHALLENGES & SOLUTION</h2>
                <div class="lg:py-10 py-6 text-justify text-lg">
                    {% for para in challenges %}
                    <p class="mb-3">
                        {{para}}
                    </p>
                    {% endfor %}
                </div>
        </div>
    </div>
    {% endif %}

    <div class="lg:flex lg:justify-around lg:mt-6 lg:mb-16 lg:px-44 px-5">
        {% for img in challenges_img %}
        <div class="lg:mb-0 mb-3">
            <img src="{% static img.url %}" alt="" class="lg:max-h-[20rem]">
            <p class="text-sm mt-1">{{img.alt}}</p>
        </div>
        {% endfor %}
    </div>

    {% if results.0 != '-' %}
    <div class="lg:px-44 px-5 lg:mt-0 mt-12">
        <div class="border-t relative lg:mx-20">
            <h2 class="font-bold font-[Oswald] lg:text-[2.6rem] text-2xl absolute lg:-top-5 -top-4 bg-[#1C1C1E] pr-4 lg:pr-0 lg:pl-4 tracking-widest lg:right-0">
                RESULTS & ACCOMPLISHMENTS</h2>
                <div class="lg:py-10 py-6 text-justify text-lg">
                    {% for para in results %}
                    <p class="mb-3">
                        {{para}}
                    </p>
                    {% endfor %}
                </div>
        </div>
    </div>
    {% endif %}

    <div class="lg:flex lg:justify-around lg:mt-6 lg:mb-16 lg:px-44 px-5">
        {% for img in results_img %}
        <div class="lg:mb-0 mb-3">
            <img src="{% static img.url %}" alt="" class="lg:max-h-[20rem]">
            <p class="text-sm mt-1">{{img.alt}}</p>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}