{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

<ul class="font-[Inconsolata] last:border-none lg:text-right">
    {% for project in projects %}
    <li class="flex flex-col py-6 lg:ml-28 mx-4 lg:mr-10 last:border-none border-white border-b-[1px]">
        <p class="lg:text-2xl text-xl mb-4">PROJECT / {{forloop.counter|default:0|stringformat:"02d"}}</p>
        <h2 class="lg:text-[7rem] font-[900] lg:leading-[0.8] text-5xl font-[Oswald]">{{project.name}}</h2>
        <ul class="lg:flex lg:justify-end lg:mt-8 mt-3 lg:text-[1.3rem] text-[1.05rem]">
            <ul class="lg:flex">
                <li class="lg:mr-3">{{project.date}}<span class="hidden lg:inline-block lg:ml-3">/</span></li>
                <li class="lg:mr-3">{{project.scope}}<span class="hidden lg:inline-block lg:ml-3">/</span></li>
            </ul>
            <ul class="flex flex-wrap">
                {% for tech in project.tech_set.all %}
                <li class="mr-3">
                    {% if forloop.counter != 1 %}
                    <span class="mr-1">/</span>
                    {% endif %}
                    {{tech.name}}
                </li>
                {% endfor %}
            </ul>
        </ul>
        <div class="flex lg:justify-end lg:my-8 mt-3 overflow-x-auto hidden-scrollbar">
            {% for img in project.img_set.all %}
            {% with 'imgs/'|add:img.url|add:'' as image_static %}
            <img class="lg:max-h-56 max-h-36 shrink-0 mr-3 lg:mr-0 lg:ml-5 last:mr-0" src="{% static image_static %}"
                alt="{{img.alt}}">
            {% endwith %}
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}