{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

<div class="lg:min-h-screen">
    <div class="lg:flex lg:flex-row lg:px-32 lg:mt-36 px-5">
        <div class="">
            <div class="basis-2/6 my-auto relative">
                <img src="{% static project.main_img %}" alt="" class="lg:max-h-[40rem] mx-auto border">
                <h1
                    class="font-[Oswald] font-bold lg:text-[6rem] text-[3.5rem] tracking-tight absolute bottom-0 pl-3 lg:hidden text-[rgba(225,225,225,0.9)]">
                    {{altered_title}}</h1>
            </div>
        </div>
        <div class="basis-4/6 flex flex-col my-auto lg:px-20">
            <h1 class="font-[Oswald] font-bold lg:text-[6rem] text-[3.5rem] tracking-tight hidden lg:block">
                {{altered_title}}</h1>

            <div class="mb-7 mt-3 text-[1.2rem]">
                <ul class="lg:flex lg:border-y">
                    <li class="lg:border-r lg:px-4 lg:mr-4 py-1">{{project.date}}</li>
                    {% for tech in project.tech_set.all %}
                    <li class="py-1">
                        {{tech.name}}
                    </li>
                    {% if not forloop.last %}
                    <span class="text-[0.5rem] my-auto mx-3 hidden lg:block"><i class="fa-solid fa-circle"></i></span>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <p class="text-xl">{{project.summary}}</p>
        </div>
    </div>
</div>

<div>
    <div class="lg:px-44">
        <div class="border-t relative lg:mx-20">
            <h2 class="font-bold font-[Oswald] text-[2.6rem] absolute -top-9 bg-[#1C1C1E] pr-4 tracking-widest">
                TECHNICAL DETAIL</h2>
            <p class=" py-10 text-justify text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rem illum vero quod quibusdam
                consequuntur
                id. Odit consequuntur quo optio voluptatum sequi saepe commodi eaque nemo aperiam necessitatibus ad a
                quasi
                ut explicabo unde quis vero, sed incidunt et. Consequuntur expedita, fugit voluptate enim dolores
                minima,
                iste ipsum reprehenderit deleniti placeat eos recusandae id alias laudantium itaque? Asperiores velit
                dignissimos ratione, qui, nam eius, illum tempora suscipit perferendis aspernatur quaerat nostrum
                reiciendis
                voluptate? Optio enim reiciendis nihil deserunt assumenda quisquam laboriosam molestias doloribus
                provident,
                fugiat sequi earum excepturi, distinctio debitis accusantium voluptatem temporibus voluptatum alias
                adipisci. Voluptatum nihil doloribus sed quaerat, eligendi perferendis laborum corporis, quasi fuga,
                excepturi nulla porro sequi dicta reprehenderit quis est similique amet veniam totam quidem soluta
                mollitia
                dolores. Illo, tenetur? Animi ipsa eligendi nesciunt dolorem quidem assumenda iusto iste totam voluptas
                officiis vel expedita voluptatibus temporibus delectus, ea rem incidunt recusandae similique vero
                suscipit.
                Distinctio soluta sit numquam error? Inventore aspernatur aliquam laboriosam quia, atque doloribus quae
                ab a
                libero officiis perspiciatis nesciunt sunt tempora facilis, esse dicta exercitationem explicabo
                accusamus
                deserunt voluptates id hic voluptate ipsum! Quibusdam rem non adipisci, deleniti quae voluptas nobis,
                placeat aperiam est beatae modi soluta accusamus nostrum aspernatur natus.
            </p>
        </div>
    </div>

    <div class="px-44 mt-7">
        <div class="border-t relative mx-20">
            <h2 class="font-bold font-[Oswald] text-[2.6rem] absolute -top-9 right-0 bg-[#1C1C1E] pl-4 tracking-widest">
                ROLES AND CONTRIBUTION</h2>
            <p class=" py-10 text-justify text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rem illum vero quod quibusdam
                consequuntur
                id. Odit consequuntur quo optio voluptatum sequi saepe commodi eaque nemo aperiam necessitatibus ad a
                quasi
                ut explicabo unde quis vero, sed incidunt et. Consequuntur expedita, fugit voluptate enim dolores
                minima,
                iste ipsum reprehenderit deleniti placeat eos recusandae id alias laudantium itaque? Asperiores velit
                dignissimos ratione, qui, nam eius, illum tempora suscipit perferendis aspernatur quaerat nostrum
                reiciendis
                voluptate? Optio enim reiciendis nihil deserunt assumenda quisquam laboriosam molestias doloribus
                provident,
                fugiat sequi earum excepturi, distinctio debitis accusantium voluptatem temporibus voluptatum alias
                adipisci. Voluptatum nihil doloribus sed quaerat, eligendi perferendis laborum corporis, quasi fuga,
                excepturi nulla porro sequi dicta reprehenderit quis est similique amet veniam totam quidem soluta
                mollitia
                dolores. Illo, tenetur? Animi ipsa eligendi nesciunt dolorem quidem assumenda iusto iste totam voluptas
                officiis vel expedita voluptatibus temporibus delectus, ea rem incidunt recusandae similique vero
                suscipit.
                Distinctio soluta sit numquam error? Inventore aspernatur aliquam laboriosam quia, atque doloribus quae
                ab a
                libero officiis perspiciatis nesciunt sunt tempora facilis, esse dicta exercitationem explicabo
                accusamus
                deserunt voluptates id hic voluptate ipsum! Quibusdam rem non adipisci, deleniti quae voluptas nobis,
                placeat aperiam est beatae modi soluta accusamus nostrum aspernatur natus.
            </p>
        </div>
    </div>
</div>

{% endblock %}